/* body { margin-top:20px;} */

.panel-title {
  display: inline;
  font-weight: bold;
}

.checkbox.pull-right { 
  margin: 0; 
}

.pl-ziro { 
  padding-left: 0px; 
}

#payment{
  margin-top: 13%;
  margin-bottom: 10%;
  color: black;
}

#payment-border{
  border: 2px solid grey;
  padding: 2%;
}

#payment-success{
  margin-top: 40%;
  margin-bottom: 40%;
}

@media screen and (max-width: 768px) {
  #payment{
    margin-top: 13%;
    margin-bottom: 10%;
  }  
}

@media screen and (max-width: 425px) {
  #payment{
    margin-top: 18%;
    margin-bottom: 10%;
  }  
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }